html {
  --border-radius: 3px;
  --highlight-height: 200px;
  --color-point-01: #e59027;
  --color-point-02: #10c500;
  --color-00-100: rgba(0, 0, 0, 1.0);
  --color-00-080: rgba(0, 0, 0, 0.8);
  --color-00-050: rgba(0, 0, 0, 0.5);
  --color-00-020: rgba(0, 0, 0, 0.2);
  --color-00-010: rgba(0, 0, 0, 0.1);
  --color-00-000: rgba(0, 0, 0, 0.0);
  --color-01-100: #111;
  --color-02-100: #222;
  --color-03-100: #333;
  --color-04-100: #444;
  --color-05-100: #555;
  --color-06-100: #666;
  --color-07-100: #777;
  --color-08-100: #888;
  --color-09-100: #999;
  --color-10-100: #aaa;
  --color-10-050:  rgba(170, 170, 170, 0.5);
  --color-11-100: #bbb;
  --color-12-100: #ccc;
  --color-13-100: #ddd;
  --color-14-100: #eee;
  --color-15-000: rgba(255, 255, 255, 0.0);
  --color-15-020: rgba(255, 255, 255, 0.2);
  --color-15-050: rgba(255, 255, 255, 0.5);
  --color-15-080: rgba(255, 255, 255, 0.8);
  --color-15-100: rgba(255, 255, 255, 1.0); }
  html[data-color-scheme='dark'] {
    --color-point-01: #ed561b;
    --color-point-02: #009b36;
    --color-point-01-05: rgba(#ed561b, 0.5);
    --color-00-100: rgba(255, 255, 255, 1.0);
    --color-00-080: rgba(255, 255, 255, 0.8);
    --color-00-050: rgba(255, 255, 255, 0.5);
    --color-00-020: rgba(255, 255, 255, 0.2);
    --color-00-010: rgba(255, 255, 255, 0.1);
    --color-00-000: rgba(255, 255, 255, 0.0);
    --color-01-100: #eee;
    --color-02-100: #ddd;
    --color-03-100: #ccc;
    --color-04-100: #bbb;
    --color-05-100: #aaa;
    --color-06-100: #999;
    --color-07-100: #888;
    --color-08-100: #777;
    --color-09-100: #666;
    --color-10-100: #555;
    --color-10-050: rgba(85, 85, 85, 0.5);
    --color-11-100: #444;
    --color-12-100: #333;
    --color-13-100: #222;
    --color-14-100: #111;
    --color-15-000: rgba(0, 0, 0, 0.0);
    --color-15-020: rgba(0, 0, 0, 0.2);
    --color-15-050: rgba(0, 0, 0, 0.5);
    --color-15-080: rgba(0, 0, 0, 0.8);
    --color-15-100: rgba(0, 0, 0, 1.0); }

html, body {
  scroll-behavior: smooth; }

html {
  overflow: hidden;
  height: 100%;
  -webkit-text-size-adjust: none; }

body {
  overflow: auto;
  height: 100%; }

body, p, figure, dl, dd {
  margin: 0; }

main, details, figcaption {
  display: block; }

summary {
  display: list-item; }

body, input, textarea, select, button, table {
  -webkit-font-smoothing: subpixel-antialiased; }

ul, ol, menu {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  vertical-align: top;
  border: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: none; }
  a:focus {
    outline: 2px solid var(--color-point-01); }
    a:focus:not(:focus-visible) {
      outline: 0; }
  a:focus-visible {
    outline: 2px solid var(--color-point-01); }

button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: button; }
  button:disabled {
    cursor: default; }
  button:focus {
    outline: 2px solid var(--color-point-01); }
    button:focus:not(:focus-visible) {
      outline: 0; }
  button:focus-visible {
    outline: 2px solid var(--color-point-01); }

input {
  padding: 0;
  vertical-align: middle; }
  input:disabled {
    cursor: default; }
  input:focus {
    outline: 2px solid var(--color-point-01); }
    input:focus:not(:focus-visible) {
      outline: 0; }
  input:focus-visible {
    outline: 2px solid var(--color-point-01); }

select {
  cursor: pointer;
  vertical-align: middle; }
  select:disabled {
    cursor: default; }
  select:focus {
    outline: 2px solid var(--color-point-01); }
    select:focus:not(:focus-visible) {
      outline: 0; }
  select:focus-visible {
    outline: 2px solid var(--color-point-01); }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

em, address {
  font-style: normal; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

[hidden] {
  display: none !important; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-track {
  border-radius: var(--border-radius);
  background-color: var(--color-15-100); }

::-webkit-scrollbar-thumb {
  background-color: var(--color-12-100);
  border-radius: var(--border-radius); }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-point-01); }

::-webkit-scrollbar-corner {
  background-color: var(--color-15-100); }

::selection {
  color: var(--color-00-100);
  background-color: var(--color-point-01); }

.mt-0 {
  margin-top: 0 !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

html {
  color: var(--color-02-100);
  background-color: var(--color-13-100);
  transition: all 0.2s; }

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%; }

[section='header'] {
  z-index: 1000;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--color-15-050);
  backdrop-filter: blur(5px);
  transition: all 0.2s; }
  [section='header'] .button {
    display: block;
    padding: 5px 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-05-100);
    transition: all 0.2s;
    user-select: none; }
    [section='header'] .button:hover {
      color: var(--color-00-100);
      filter: drop-shadow(0 0 2px var(--color-00-100)); }
  [section='header'] #button-sidebar-show {
    display: none; }
  [section='header'] .title {
    flex: 1;
    display: flex;
    margin: 0; }
    [section='header'] .title .link {
      display: inline-block;
      padding: 10px;
      user-select: none; }
      [section='header'] .title .link .text {
        font-family: 'Great Vibes', cursive;
        font-size: 26px;
        font-weight: bold;
        color: var(--color-05-100);
        vertical-align: 5px;
        transition: all 0.2s; }
      [section='header'] .title .link .image {
        display: none; }
      [section='header'] .title .link:hover .text {
        filter: drop-shadow(0 0 2px var(--color-00-100));
        color: var(--color-00-100); }
  [section='header'] .menu {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10px; }
    [section='header'] .menu .list {
      display: flex;
      position: relative; }
      [section='header'] .menu .list .item {
        position: relative; }
    [section='header'] .menu:after {
      position: absolute;
      top: 10px;
      bottom: 10px;
      right: 0;
      width: 2px;
      background-color: var(--color-13-100);
      content: ''; }
  @media screen and (max-width: 940px) {
    [section='header'] {
      height: 50px;
      margin-bottom: 10px;
      padding: 0 10px;
      justify-content: space-between; }
      [section='header'] .button {
        font-size: 14px; }
      [section='header'] .title .link {
        padding: 5px; }
        [section='header'] .title .link .text {
          display: none; }
        [section='header'] .title .link .image {
          display: block;
          width: 20px; }
      [section='header'] .menu {
        display: none; }
      [section='header'] #button-sidebar-show {
        display: block; } }

[section='option'] {
  z-index: 2000;
  position: fixed;
  inset: 0;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: all 0.3s; }

@keyframes option-open {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes option-close {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
  [section='option']:before {
    position: absolute;
    inset: 0;
    background-color: var(--color-15-080);
    backdrop-filter: blur(5px);
    content: ''; }
  [section='option'] .wrap {
    overflow: hidden;
    position: absolute;
    inset: 20px 20px auto;
    margin: auto;
    max-width: 640px;
    max-height: calc(100vh - 40px);
    transform: scale(0);
    transition: all 0.2s; }
    [section='option'] .wrap .tabs {
      display: flex;
      gap: 1px; }
      [section='option'] .wrap .tabs .item .button {
        padding: 5px 10px;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        color: var(--color-08-100);
        background-color: var(--color-15-100);
        transition: all 0.2s; }
        [section='option'] .wrap .tabs .item .button:hover {
          color: var(--color-00-100); }
        [section='option'] .wrap .tabs .item .button.active {
          color: var(--color-point-01);
          background-color: var(--color-13-100);
          pointer-events: none; }
    [section='option'] .wrap .close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      padding: 0 10px;
      color: var(--color-10-100);
      transition: all 0.2s; }
      [section='option'] .wrap .close:hover {
        color: var(--color-00-100); }
    [section='option'] .wrap .label {
      display: block;
      margin: 30px 0 10px;
      font-size: 12px;
      color: var(--color-10-100); }
      [section='option'] .wrap .label:first-child {
        margin-top: 0; }
    [section='option'] .wrap .panel {
      display: none;
      padding: 20px;
      border-radius: var(--border-radius);
      background-color: var(--color-13-100); }
      [section='option'] .wrap .panel[section='search'] {
        border-top-left-radius: 0; }
        [section='option'] .wrap .panel[section='search'] #input-search-keyword {
          box-sizing: border-box;
          padding: 0 10px;
          width: 100%;
          height: 30px;
          border: 0;
          border-radius: var(--border-radius);
          color: var(--color-00-100);
          background-color: var(--color-15-100); }
        [section='option'] .wrap .panel[section='search'] #search-result .summary {
          padding-top: 10px; }
        [section='option'] .wrap .panel[section='search'] #search-result .scroll {
          overflow-y: auto;
          margin-top: 10px;
          max-height: calc(100vh - 200px); }
        [section='option'] .wrap .panel[section='search'] #search-result .list {
          border-radius: var(--border-radius);
          background-color: var(--color-15-100); }
          [section='option'] .wrap .panel[section='search'] #search-result .list .item .link {
            display: block;
            padding: 10px; }
            [section='option'] .wrap .panel[section='search'] #search-result .list .item .link .title {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 20px;
              color: var(--color-12-100);
              transition: all 0.2s; }
              [section='option'] .wrap .panel[section='search'] #search-result .list .item .link .title .fa-solid {
                transition: all 0.2s; }
              [section='option'] .wrap .panel[section='search'] #search-result .list .item .link .title .path {
                display: inline-block;
                margin: 0 5px;
                color: var(--color-point-01);
                transition: all 0.2s; }
              [section='option'] .wrap .panel[section='search'] #search-result .list .item .link .title .text {
                font-weight: 300;
                transition: all 0.2s; }
            [section='option'] .wrap .panel[section='search'] #search-result .list .item .link .content {
              display: -webkit-box;
              overflow: hidden;
              margin-top: 5px;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              font-size: 14px;
              word-break: keep-all;
              word-wrap: break-word;
              color: var(--color-12-100);
              transition: all 0.2s; }
              [section='option'] .wrap .panel[section='search'] #search-result .list .item .link .content .keyword {
                color: var(--color-point-01); }
            [section='option'] .wrap .panel[section='search'] #search-result .list .item .link:hover .title .fa-solid {
              color: var(--color-05-100); }
            [section='option'] .wrap .panel[section='search'] #search-result .list .item .link:hover .title .text {
              color: var(--color-05-100); }
            [section='option'] .wrap .panel[section='search'] #search-result .list .item .link:hover .content {
              color: var(--color-05-100); }
          [section='option'] .wrap .panel[section='search'] #search-result .list:empty {
            display: none; }
      [section='option'] .wrap .panel[section='setup'] {
        border-top-left-radius: var(--border-radius); }
        [section='option'] .wrap .panel[section='setup'] #select-color-scheme {
          box-sizing: border-box;
          padding: 5px 10px;
          width: 100%;
          height: 30px;
          border: 0;
          font-size: 14px;
          border-radius: var(--border-radius);
          color: var(--color-00-100);
          background-color: var(--color-15-100);
          appearance: none; }
          [section='option'] .wrap .panel[section='setup'] #select-color-scheme:hover {
            color: var(--color-point-01); }
        [section='option'] .wrap .panel[section='setup'] #input-border-radius {
          appearance: none;
          width: 100%;
          border-radius: var(--border-radius);
          background: var(--color-15-100); }
          [section='option'] .wrap .panel[section='setup'] #input-border-radius::-webkit-slider-thumb {
            appearance: none;
            width: 100px;
            height: 15px;
            border-radius: var(--border-radius);
            background-color: var(--color-10-100);
            transition: all 0.2s;
            cursor: pointer; }
            [section='option'] .wrap .panel[section='setup'] #input-border-radius::-webkit-slider-thumb:hover {
              background-color: var(--color-point-01); }
        [section='option'] .wrap .panel[section='setup'] .button-group {
          display: flex;
          gap: 10px; }
          [section='option'] .wrap .panel[section='setup'] .button-group .button {
            flex: 1;
            box-sizing: border-box;
            padding: 0 10px;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
            border-radius: var(--border-radius);
            color: var(--color-00-100);
            background-color: var(--color-15-100);
            transition: all 0.2s; }
            [section='option'] .wrap .panel[section='setup'] .button-group .button:hover {
              color: var(--color-15-100);
              background-color: var(--color-point-01); }
            [section='option'] .wrap .panel[section='setup'] .button-group .button[disabled] {
              opacity: 0.3;
              pointer-events: none; }
      [section='option'] .wrap .panel.active {
        display: block; }
  [section='option'].show {
    pointer-events: all;
    opacity: 1; }
    [section='option'].show .wrap {
      animation: option-open 0.2s ease-out 0.2s normal forwards; }
  @media screen and (max-width: 940px) {
    [section='option'] {
      font-size: 12px; }
      [section='option'] .wrap .panel[section="search"] #search-result .list .item .link .title {
        font-size: 15px; }
        [section='option'] .wrap .panel[section="search"] #search-result .list .item .link .title .fa-solid {
          font-size: 12px; } }

[section='loader'] {
  z-index: 5000;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

@keyframes icon-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  [section='loader']:before {
    position: absolute;
    inset: 0;
    background-color: var(--color-15-100);
    content: ''; }
  [section='loader'] .icon {
    border: 5px solid var(--color-13-100);
    border-left-color: var(--color-point-01);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: icon-rotate 1s linear infinite; }
  [section='loader'].hide {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out; }

.hbe-container {
  height: 100vh; }
  .hbe-container .hbe-content {
    display: flex;
    padding: 0;
    height: 100%; }
    .hbe-container .hbe-content .hbe-input {
      position: relative;
      display: block;
      margin: auto;
      padding: 100px 10px;
      width: 100%;
      min-width: auto; }
      .hbe-container .hbe-content .hbe-input .hbe-title {
        margin-bottom: 5px;
        font-size: 30px;
        font-weight: 200;
        letter-spacing: -1px;
        color: var(--color-05-100); }
      .hbe-container .hbe-content .hbe-input .hbe-text {
        margin-bottom: 50px;
        font-size: 14px;
        font-weight: 200;
        color: var(--color-10-100); }
      .hbe-container .hbe-content .hbe-input .hbe-input-field {
        float: none;
        margin: auto;
        padding: 10px;
        max-width: 300px;
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 3px;
        text-align: center;
        border-radius: var(--border-radius);
        color: var(--color-point-01);
        background-color: var(--color-14-100);
        opacity: 1; }
        .hbe-container .hbe-content .hbe-input .hbe-input-field::placeholder {
          font-size: 14px;
          color: var(--color-12-100); }
      .hbe-container .hbe-content .hbe-input .hbe-input-label {
        display: none; }
  .hbe-container .hbe-button {
    display: none; }

#fp-nav ul li {
  margin: 13px; }
  #fp-nav ul li a span {
    background-color: var(--color-10-100);
    transition: all 0.2s; }
  #fp-nav ul li a:hover span {
    background-color: var(--color-point-01); }
  #fp-nav ul li a.active {
    pointer-events: none; }
  #fp-nav ul li .fp-tooltip {
    color: var(--color-05-100); }

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em; }

code.hljs {
  padding: 3px 5px; }

.hljs {
  color: #5e6e5e;
  background: #f4fbf4; }

.hljs::selection,
.hljs ::selection {
  background-color: #8ca68c;
  color: #5e6e5e; }

.hljs-comment {
  color: #9eb79e; }

.hljs-tag {
  color: #687d68; }

.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: #5e6e5e; }

.hljs-operator {
  opacity: 0.7; }

.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
  color: #e6193c; }

.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: #87711d; }

.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #98981b; }

.hljs-strong {
  font-weight: bold;
  color: #98981b; }

.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
  color: #29a329; }

.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: #1999b3; }

.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
  color: #3d62f5; }

.hljs-type,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
  color: #ad2bee; }

.hljs-emphasis {
  color: #ad2bee;
  font-style: italic; }

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #e619c3; }

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: bold; }

html[data-color-scheme='dark'] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em; }

html[data-color-scheme='dark'] code.hljs {
  padding: 3px 5px; }

html[data-color-scheme='dark'] .hljs {
  color: #f8f8f2;
  background: #272822; }

html[data-color-scheme='dark'] .hljs::selection,
html[data-color-scheme='dark'] .hljs ::selection {
  background-color: #49483e;
  color: #f8f8f2; }

html[data-color-scheme='dark'] .hljs-comment {
  color: #575340; }

html[data-color-scheme='dark'] .hljs-tag {
  color: #a59f85; }

html[data-color-scheme='dark'] .hljs-subst,
html[data-color-scheme='dark'] .hljs-punctuation,
html[data-color-scheme='dark'] .hljs-operator {
  color: #f8f8f2; }

html[data-color-scheme='dark'] .hljs-operator {
  opacity: 0.7; }

html[data-color-scheme='dark'] .hljs-bullet,
html[data-color-scheme='dark'] .hljs-variable,
html[data-color-scheme='dark'] .hljs-template-variable,
html[data-color-scheme='dark'] .hljs-selector-tag,
html[data-color-scheme='dark'] .hljs-name,
html[data-color-scheme='dark'] .hljs-deletion {
  color: #f92672; }

html[data-color-scheme='dark'] .hljs-symbol,
html[data-color-scheme='dark'] .hljs-number,
html[data-color-scheme='dark'] .hljs-link,
html[data-color-scheme='dark'] .hljs-attr,
html[data-color-scheme='dark'] .hljs-variable.constant_,
html[data-color-scheme='dark'] .hljs-literal {
  color: #fd971f; }

html[data-color-scheme='dark'] .hljs-title,
html[data-color-scheme='dark'] .hljs-class .hljs-title,
html[data-color-scheme='dark'] .hljs-title.class_ {
  color: #f4bf75; }

html[data-color-scheme='dark'] .hljs-strong {
  font-weight: bold;
  color: #f4bf75; }

html[data-color-scheme='dark'] .hljs-code,
html[data-color-scheme='dark'] .hljs-addition,
html[data-color-scheme='dark'] .hljs-title.class_.inherited__,
html[data-color-scheme='dark'] .hljs-string {
  color: #a6e22e; }

html[data-color-scheme='dark'] .hljs-built_in,
html[data-color-scheme='dark'] .hljs-doctag,
html[data-color-scheme='dark'] .hljs-quote,
html[data-color-scheme='dark'] .hljs-keyword.hljs-atrule,
html[data-color-scheme='dark'] .hljs-regexp {
  color: #a1efe4; }

html[data-color-scheme='dark'] .hljs-function .hljs-title,
html[data-color-scheme='dark'] .hljs-attribute,
html[data-color-scheme='dark'] .ruby .hljs-property,
html[data-color-scheme='dark'] .hljs-title.function_,
html[data-color-scheme='dark'] .hljs-section {
  color: #66d9ef; }

html[data-color-scheme='dark'] .hljs-type,
html[data-color-scheme='dark'] .hljs-template-tag,
html[data-color-scheme='dark'] .diff .hljs-meta,
html[data-color-scheme='dark'] .hljs-keyword {
  color: #ae81ff; }

html[data-color-scheme='dark'] .hljs-emphasis {
  color: #ae81ff;
  font-style: italic; }

html[data-color-scheme='dark'] .hljs-meta,
html[data-color-scheme='dark'] .hljs-meta .hljs-keyword,
html[data-color-scheme='dark'] .hljs-meta .hljs-string {
  color: #cc6633; }

html[data-color-scheme='dark'] .hljs-meta .hljs-keyword,
html[data-color-scheme='dark'] .hljs-meta-keyword {
  font-weight: bold; }

body.post {
  font-family: 'Noto Sans KR', sans-serif; }
  body.post [section='header'] {
    position: sticky;
    margin-bottom: 20px; }
  body.post [section='main'] {
    padding: 0 20px;
    display: grid;
    grid-template-areas: 'side content';
    grid-template-columns: 300px calc(100% - 300px - 20px);
    gap: 20px;
    font-size: 14px; }
  body.post [section='sidebar'] {
    position: relative;
    grid-area: side;
    user-select: none; }
    body.post [section='sidebar'] .wrap {
      position: sticky;
      top: 100px;
      padding: 10px;
      height: calc(100vh - 140px);
      border-radius: var(--border-radius);
      background-color: var(--color-14-100); }
      body.post [section='sidebar'] .wrap .menu {
        box-sizing: border-box;
        display: flex;
        margin-bottom: 10px;
        padding: 2px;
        height: 30px;
        gap: 2px;
        border-radius: var(--border-radius);
        background-color: var(--color-15-100); }
        body.post [section='sidebar'] .wrap .menu .item {
          width: 50%;
          border-radius: var(--border-radius); }
          body.post [section='sidebar'] .wrap .menu .item .button {
            width: 100%;
            height: 100%;
            padding: 2px 10px 3px;
            vertical-align: top;
            font-family: 'Ubuntu', sans-serif;
            font-size: 12px;
            font-weight: bold;
            border-radius: var(--border-radius);
            color: var(--color-10-100);
            transition: all 0.2s; }
            body.post [section='sidebar'] .wrap .menu .item .button:hover {
              color: var(--color-00-100); }
            body.post [section='sidebar'] .wrap .menu .item .button.active {
              color: var(--color-15-100);
              background-color: var(--color-point-01);
              pointer-events: none; }
      body.post [section='sidebar'] .wrap .scroll {
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        padding-right: 10px;
        height: calc(100% - 70px); }
        body.post [section='sidebar'] .wrap .scroll .category-list {
          display: none; }
          body.post [section='sidebar'] .wrap .scroll .category-list .category-list-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center; }
            body.post [section='sidebar'] .wrap .scroll .category-list .category-list-item .category-list-link {
              flex: 1;
              padding: 5px 10px;
              font-family: 'Ubuntu', sans-serif;
              font-size: 14px;
              color: var(--color-08-100);
              transition: all 0.2s; }
              body.post [section='sidebar'] .wrap .scroll .category-list .category-list-item .category-list-link:hover {
                color: var(--color-00-100); }
              body.post [section='sidebar'] .wrap .scroll .category-list .category-list-item .category-list-link.active {
                color: var(--color-point-01); }
            body.post [section='sidebar'] .wrap .scroll .category-list .category-list-item .category-list-count {
              display: flex;
              justify-content: center;
              width: 20px;
              height: 20px;
              font-family: 'Ubuntu', sans-serif;
              font-size: 12px;
              line-height: 20px;
              border-radius: var(--border-radius);
              color: var(--color-10-100);
              background-color: var(--color-13-100); }
            body.post [section='sidebar'] .wrap .scroll .category-list .category-list-item .category-list-child {
              display: none;
              margin: 0 0 0 15px;
              padding-left: 5px;
              width: 100%;
              border-left: 1px solid var(--color-13-100); }
              body.post [section='sidebar'] .wrap .scroll .category-list .category-list-item .category-list-child .category-list-item .category-list-link:not(.active) {
                pointer-events: all; }
              body.post [section='sidebar'] .wrap .scroll .category-list .category-list-item .category-list-child .category-list-item .category-list-count {
                display: none; }
              body.post [section='sidebar'] .wrap .scroll .category-list .category-list-item .category-list-child.open {
                display: block; }
        body.post [section='sidebar'] .wrap .scroll .toc-list {
          display: none; }
          body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item {
            position: relative; }
            body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-link {
              box-sizing: border-box;
              display: flex;
              width: 100%;
              padding: 5px 20px 5px 10px;
              gap: 5px;
              font-family: 'Ubuntu', sans-serif;
              font-size: 14px;
              transition: all 0.2s; }
              body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-link .toc-list-number {
                color: var(--color-12-100);
                transition: all 0.2s; }
              body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-link .toc-list-text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: var(--color-08-100);
                transition: all 0.2s; }
              body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-link:hover .toc-list-number {
                color: var(--color-08-100); }
              body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-link:hover .toc-list-text {
                color: var(--color-00-100); }
              body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-link.active .toc-list-number, body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-link.active .toc-list-text {
                color: var(--color-point-01); }
            body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-fold {
              position: absolute;
              top: 2px;
              right: 0;
              padding: 0 5px;
              color: var(--color-10-100);
              transform: rotate(-180deg);
              transition: all 0.2s; }
              body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-fold:hover {
                color: var(--color-00-100); }
              body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-fold.open {
                transform: rotate(0deg); }
                body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-fold.open + .toc-list-child {
                  display: block; }
            body.post [section='sidebar'] .wrap .scroll .toc-list .toc-list-item .toc-list-child {
              display: none;
              margin: 0 0 0 15px;
              padding-left: 5px;
              border-left: 1px solid var(--color-13-100); }
      body.post [section='sidebar'] .wrap .footer {
        box-sizing: border-box;
        display: flex;
        margin-top: 10px;
        padding: 2px;
        height: 20px;
        gap: 5px;
        border-radius: var(--border-radius);
        background-color: var(--color-15-100); }
        body.post [section='sidebar'] .wrap .footer .button {
          padding: 0 8px;
          line-height: 16px;
          border-radius: var(--border-radius);
          color: var(--color-10-100);
          background-color: var(--color-13-100);
          transition: all 0.2s; }
          body.post [section='sidebar'] .wrap .footer .button.expand {
            font-size: 10px; }
          body.post [section='sidebar'] .wrap .footer .button.collapse {
            font-size: 10px;
            transform: rotateY(180deg); }
          body.post [section='sidebar'] .wrap .footer .button.bottom {
            transform: rotate(180deg); }
          body.post [section='sidebar'] .wrap .footer .button:hover {
            color: var(--color-00-100); }
        body.post [section='sidebar'] .wrap .footer .percent {
          position: relative;
          overflow: hidden;
          flex: 1;
          border-radius: var(--border-radius); }
          body.post [section='sidebar'] .wrap .footer .percent .progress {
            width: 100%;
            height: 100%;
            vertical-align: top;
            border-radius: var(--border-radius);
            background-color: var(--color-14-100); }
            body.post [section='sidebar'] .wrap .footer .percent .progress::-webkit-progress-bar {
              border-radius: var(--border-radius);
              background-color: var(--color-14-100); }
            body.post [section='sidebar'] .wrap .footer .percent .progress::-webkit-progress-value {
              border-radius: var(--border-radius);
              background-color: var(--color-point-01); }
          body.post [section='sidebar'] .wrap .footer .percent .text {
            position: absolute;
            inset: 0;
            font-size: 12px;
            line-height: 14px;
            text-align: center; }
  body.post [section='content'] {
    grid-area: content;
    color: var(--color-05-100); }
    body.post [section='content'] section {
      position: relative;
      padding: 20px;
      border-radius: var(--border-radius);
      background-color: var(--color-14-100); }
      body.post [section='content'] section.header {
        margin-bottom: 20px;
        padding: 0;
        background-color: transparent;
        user-select: none; }
        body.post [section='content'] section.header .breadcrumbs {
          display: flex;
          padding: 0 5px;
          gap: 15px;
          font-size: 12px;
          color: var(--color-10-100); }
          body.post [section='content'] section.header .breadcrumbs .breadcrumb {
            position: relative; }
            body.post [section='content'] section.header .breadcrumbs .breadcrumb + .breadcrumb:before {
              position: absolute;
              inset: 0 auto 0 -10px;
              content: '/'; }
        body.post [section='content'] section.header .title {
          margin: -5px 0 0 0;
          font-size: 50px;
          font-weight: 200;
          letter-spacing: -1px;
          color: var(--color-00-100); }
          body.post [section='content'] section.header .title .version {
            display: inline-block;
            margin-left: 15px;
            padding: 1px 5px 3px;
            font-size: 12px;
            letter-spacing: 2px;
            vertical-align: 12px;
            border-radius: var(--border-radius);
            color: #fff;
            background-color: var(--color-point-02); }
        body.post [section='content'] section.header .links {
          margin-top: 20px; }
          body.post [section='content'] section.header .links a {
            color: var(--color-10-100);
            transition: all 0.2s; }
            body.post [section='content'] section.header .links a:hover {
              color: var(--color-00-100); }
            body.post [section='content'] section.header .links a:after {
              white-space: pre;
              content: '\a'; }
      body.post [section='content'] section.body h2, body.post [section='content'] section.body h3, body.post [section='content'] section.body h4, body.post [section='content'] section.body h5, body.post [section='content'] section.body h6 {
        scroll-margin: 100px; }
        body.post [section='content'] section.body h2 .headerlink, body.post [section='content'] section.body h3 .headerlink, body.post [section='content'] section.body h4 .headerlink, body.post [section='content'] section.body h5 .headerlink, body.post [section='content'] section.body h6 .headerlink {
          color: var(--color-00-100);
          opacity: 0.2;
          transition: all 0.2s; }
          body.post [section='content'] section.body h2 .headerlink:before, body.post [section='content'] section.body h3 .headerlink:before, body.post [section='content'] section.body h4 .headerlink:before, body.post [section='content'] section.body h5 .headerlink:before, body.post [section='content'] section.body h6 .headerlink:before {
            display: inline-block;
            margin-right: 5px;
            content: '#'; }
          body.post [section='content'] section.body h2 .headerlink:hover, body.post [section='content'] section.body h3 .headerlink:hover, body.post [section='content'] section.body h4 .headerlink:hover, body.post [section='content'] section.body h5 .headerlink:hover, body.post [section='content'] section.body h6 .headerlink:hover {
            opacity: 1; }
      body.post [section='content'] section.body h2 {
        z-index: 0;
        position: relative;
        margin: 60px 0 25px;
        padding: 0 10px 5px;
        font-size: 30px;
        font-weight: 200;
        border-radius: var(--border-radius);
        color: #fff;
        background-color: var(--color-point-01); }
        body.post [section='content'] section.body h2 .headerlink {
          color: #fff; }
          body.post [section='content'] section.body h2 .headerlink:hover {
            color: #fff; }
        body.post [section='content'] section.body h2 .divider {
          z-index: -1;
          position: absolute;
          inset: -50px -20px auto -20px;
          height: 40px;
          background-color: var(--color-13-100); }
        body.post [section='content'] section.body h2:before {
          position: absolute;
          inset: -50px -20px auto -20px;
          height: 10px;
          border-bottom-left-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
          background-color: var(--color-14-100);
          content: ''; }
        body.post [section='content'] section.body h2:after {
          position: absolute;
          inset: -20px -20px auto -20px;
          height: 10px;
          border-top-left-radius: var(--border-radius);
          border-top-right-radius: var(--border-radius);
          background-color: var(--color-14-100);
          content: ''; }
        body.post [section='content'] section.body h2:first-of-type {
          margin-top: 0; }
          body.post [section='content'] section.body h2:first-of-type .divider, body.post [section='content'] section.body h2:first-of-type:before, body.post [section='content'] section.body h2:first-of-type:after {
            display: none; }
      body.post [section='content'] section.body h3 {
        margin: 40px 0 25px;
        padding-bottom: 5px;
        font-size: 30px;
        font-weight: 200;
        color: var(--color-00-100);
        border-bottom: 2px solid var(--color-12-100); }
      body.post [section='content'] section.body h4 {
        margin: 30px 0 20px;
        font-size: 25px;
        font-weight: 300;
        color: var(--color-02-100); }
      body.post [section='content'] section.body h5 {
        margin: 20px 0 15px;
        font-size: 18px;
        font-weight: 300;
        color: var(--color-05-100); }
      body.post [section='content'] section.body p {
        margin: 10px 0; }
      body.post [section='content'] section.body code {
        font-family: 'Nanum Gothic Coding', monospace;
        vertical-align: 1px;
        color: var(--color-point-01); }
      body.post [section='content'] section.body blockquote {
        overflow: hidden;
        margin: 10px 0;
        padding: 0 10px;
        border-radius: var(--border-radius);
        border-left: 5px solid var(--color-13-100);
        background-color: var(--color-15-100); }
        body.post [section='content'] section.body blockquote strong {
          color: var(--color-point-01); }
        body.post [section='content'] section.body blockquote ul, body.post [section='content'] section.body blockquote ol, body.post [section='content'] section.body blockquote menu {
          margin: 10px 0; }
      body.post [section='content'] section.body a {
        word-break: break-all;
        color: var(--color-10-100);
        transition: all 0.2s; }
        body.post [section='content'] section.body a:hover {
          color: var(--color-00-100); }
      [data-color-scheme='dark'] body.post [section='content'] section.body img.light {
        filter: invert(1); }
      [data-color-scheme='light'] body.post [section='content'] section.body img.dark {
        filter: invert(1); }
      body.post [section='content'] section.body > ul, body.post [section='content'] section.body > ol {
        margin-left: 20px; }
        body.post [section='content'] section.body > ul li, body.post [section='content'] section.body > ol li {
          transition: all 0.2s; }
          body.post [section='content'] section.body > ul li::marker, body.post [section='content'] section.body > ol li::marker {
            color: var(--color-10-100); }
          body.post [section='content'] section.body > ul li:hover, body.post [section='content'] section.body > ol li:hover {
            color: var(--color-00-100); }
          body.post [section='content'] section.body > ul li + li, body.post [section='content'] section.body > ol li + li {
            margin-top: 5px; }
      body.post [section='content'] section.body > ul {
        list-style: circle; }
      body.post [section='content'] section.body > ol {
        list-style: decimal; }
      body.post [section='content'] section.body > table {
        overflow: hidden;
        table-layout: fixed;
        margin: 10px 0;
        width: 100%;
        border-radius: var(--border-radius);
        box-shadow: 0 0 0 1px var(--color-13-100); }
        body.post [section='content'] section.body > table th, body.post [section='content'] section.body > table td {
          padding: 5px 10px; }
          body.post [section='content'] section.body > table th:not(:first-child), body.post [section='content'] section.body > table td:not(:first-child) {
            position: relative; }
            body.post [section='content'] section.body > table th:not(:first-child):before, body.post [section='content'] section.body > table td:not(:first-child):before {
              position: absolute;
              inset: 5px 0;
              border-left: solid 1px rgba(120, 120, 120, 0.1);
              content: ''; }
        body.post [section='content'] section.body > table thead tr th {
          font-weight: normal;
          background-color: var(--color-13-100); }
          body.post [section='content'] section.body > table thead tr th:empty {
            padding: 0; }
        body.post [section='content'] section.body > table tbody tr {
          transition: all 0.2s; }
          body.post [section='content'] section.body > table tbody tr:hover {
            background-color: var(--color-15-100); }
          body.post [section='content'] section.body > table tbody tr td {
            border-top: 1px solid var(--color-13-100); }
          body.post [section='content'] section.body > table tbody tr:first-child td {
            border: none; }
      body.post [section='content'] section.body figure.highlight {
        position: relative;
        overflow: hidden;
        margin: 10px 0;
        border-radius: var(--border-radius);
        transition: all 0.2s; }
        body.post [section='content'] section.body figure.highlight .highlight-head {
          box-sizing: border-box;
          display: flex;
          gap: 10px;
          padding: 2px 10px 0;
          height: 30px;
          align-items: center;
          font-size: 12px;
          background-color: var(--color-13-100); }
          body.post [section='content'] section.body figure.highlight .highlight-head .button {
            margin-top: -4px;
            padding: 0 5px;
            color: var(--color-08-100);
            transition: all 0.2s; }
            body.post [section='content'] section.body figure.highlight .highlight-head .button:hover {
              color: var(--color-00-100); }
          body.post [section='content'] section.body figure.highlight .highlight-head .fold[disabled] {
            opacity: 0.3;
            pointer-events: none; }
          body.post [section='content'] section.body figure.highlight .highlight-head .fullscreen .fa-minimize {
            display: none; }
          body.post [section='content'] section.body figure.highlight .highlight-head .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
            margin-top: -4px;
            color: var(--color-02-100); }
          body.post [section='content'] section.body figure.highlight .highlight-head .type {
            margin-top: -4px;
            color: var(--color-10-100);
            user-select: none; }
        body.post [section='content'] section.body figure.highlight .highlight-body {
          overflow: auto;
          font-size: 14px;
          line-height: 16px;
          transition: all 0.2s; }
          body.post [section='content'] section.body figure.highlight .highlight-body table {
            width: 100%; }
            body.post [section='content'] section.body figure.highlight .highlight-body table .gutter {
              padding: 0 5px;
              text-align: right;
              border-right: 1px solid var(--color-14-100);
              color: var(--color-13-100);
              background-color: var(--color-15-100);
              user-select: none; }
              body.post [section='content'] section.body figure.highlight .highlight-body table .gutter pre {
                font-family: 'Nanum Gothic Coding', monospace; }
              body.post [section='content'] section.body figure.highlight .highlight-body table .gutter + .code pre code {
                padding-left: 5px;
                padding-right: 5px; }
            body.post [section='content'] section.body figure.highlight .highlight-body table .code {
              padding: 0;
              width: 100%; }
              body.post [section='content'] section.body figure.highlight .highlight-body table .code pre ::selection {
                color: var(--color-point-01);
                background-color: var(--color-00-100); }
              body.post [section='content'] section.body figure.highlight .highlight-body table .code pre code {
                padding: 5px 10px;
                background-color: var(--color-15-100); }
        body.post [section='content'] section.body figure.highlight pre {
          margin: 0; }
        body.post [section='content'] section.body figure.highlight.fold {
          max-height: var(--highlight-height);
          user-select: none; }
          body.post [section='content'] section.body figure.highlight.fold:after {
            position: absolute;
            inset: 30px 0 0 0;
            background: linear-gradient(180deg, var(--color-15-000) 0%, var(--color-15-100) 100%);
            content: ''; }
          body.post [section='content'] section.body figure.highlight.fold .highlight-head .fold {
            margin-top: 0;
            color: var(--color-point-01);
            transform: rotate(-180deg); }
            body.post [section='content'] section.body figure.highlight.fold .highlight-head .fold:hover {
              color: var(--color-00-100); }
        body.post [section='content'] section.body figure.highlight.fullscreen {
          z-index: 2000;
          position: fixed;
          inset: 0;
          margin: 0;
          max-height: 100%;
          background-color: var(--color-15-100); }
          body.post [section='content'] section.body figure.highlight.fullscreen .highlight-head .fullscreen .fa-maximize {
            display: none; }
          body.post [section='content'] section.body figure.highlight.fullscreen .highlight-head .fullscreen .fa-minimize {
            display: block;
            margin-top: 4px; }
          body.post [section='content'] section.body figure.highlight.fullscreen .highlight-body {
            height: calc(100% - 30px);
            font-size: 18px;
            line-height: 20px; }
      body.post [section='content'] section.body .jsfiddle-cover {
        position: relative;
        overflow: hidden;
        margin: 10px 0;
        border-radius: var(--border-radius);
        background-color: #1c2128; }
        body.post [section='content'] section.body .jsfiddle-cover iframe {
          vertical-align: top; }
        body.post [section='content'] section.body .jsfiddle-cover:after {
          position: absolute;
          inset: 0 0 auto auto;
          width: 150px;
          height: 50px;
          background-color: #1c2128;
          content: ''; }
      body.post [section='content'] section.body .tags {
        display: flex;
        margin: 10px 0;
        flex-wrap: wrap;
        gap: 5px; }
        body.post [section='content'] section.body .tags .tag {
          border-radius: var(--border-radius);
          padding: 2px 10px 3px;
          background-color: var(--color-13-100); }
      body.post [section='content'] section.body .tabs-panels {
        margin: 10px 0;
        border-radius: var(--border-radius); }
        body.post [section='content'] section.body .tabs-panels .tabs {
          display: flex;
          flex-wrap: wrap;
          border-bottom: 1px solid var(--color-13-100); }
          body.post [section='content'] section.body .tabs-panels .tabs .item {
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius); }
            body.post [section='content'] section.body .tabs-panels .tabs .item .button {
              display: block;
              padding: 5px 10px;
              color: var(--color-10-100);
              transition: all 0.2s; }
              body.post [section='content'] section.body .tabs-panels .tabs .item .button:hover {
                color: var(--color-00-100); }
            body.post [section='content'] section.body .tabs-panels .tabs .item.active {
              background-color: var(--color-13-100); }
              body.post [section='content'] section.body .tabs-panels .tabs .item.active .button {
                color: var(--color-05-100); }
        body.post [section='content'] section.body .tabs-panels .panels {
          border-bottom: 1px solid var(--color-13-100); }
          body.post [section='content'] section.body .tabs-panels .panels > br {
            display: none; }
          body.post [section='content'] section.body .tabs-panels .panels .item {
            display: none; }
            body.post [section='content'] section.body .tabs-panels .panels .item > br {
              display: none; }
            body.post [section='content'] section.body .tabs-panels .panels .item.active {
              display: block; }
      body.post [section='content'] section.body .tree {
        overflow-x: auto;
        margin: 10px 0;
        padding: 0 10px;
        border-radius: var(--border-radius);
        background-color: var(--color-15-100);
        user-select: none; }
        body.post [section='content'] section.body .tree ul {
          position: relative;
          margin: 0 0 0 20px;
          list-style: disc; }
          body.post [section='content'] section.body .tree ul:before {
            position: absolute;
            top: 15px;
            left: -15px;
            bottom: 0;
            border-left: dashed 1px rgba(120, 120, 120, 0.2);
            content: ''; }
          body.post [section='content'] section.body .tree ul li {
            position: relative;
            margin: 5px 0;
            white-space: nowrap;
            cursor: default; }
            body.post [section='content'] section.body .tree ul li::marker {
              color: var(--color-10-100);
              transition: all 0.2s; }
            body.post [section='content'] section.body .tree ul li:hover::marker {
              color: var(--color-point-01); }
      body.post [section='content'] section.body .caniuse {
        display: inline-block;
        padding: 5px 10px;
        border-radius: var(--border-radius);
        border-left: 5px solid var(--color-point-01);
        background-color: var(--color-15-100);
        user-select: none; }
      body.post [section='content'] section.footer {
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        user-select: none; }
        body.post [section='content'] section.footer .background {
          position: absolute;
          top: -210px;
          right: -95px;
          font-size: 400px;
          color: var(--color-13-100); }
        body.post [section='content'] section.footer .post .name {
          margin: 0;
          font-size: 20px; }
        body.post [section='content'] section.footer .post .link {
          color: var(--color-10-100);
          transition: all 0.2s; }
          body.post [section='content'] section.footer .post .link:hover {
            color: var(--color-00-100); }
        body.post [section='content'] section.footer .information {
          display: flex;
          margin-top: 20px;
          gap: 20px; }
          body.post [section='content'] section.footer .information .author .label {
            margin: 0;
            font-size: 12px;
            color: var(--color-05-100); }
          body.post [section='content'] section.footer .information .author .name {
            margin: 5px 0 0;
            color: var(--color-10-100); }
          body.post [section='content'] section.footer .information .license .label {
            margin: 0;
            font-size: 12px;
            color: var(--color-05-100); }
          body.post [section='content'] section.footer .information .license .list {
            display: flex;
            gap: 10px; }
            body.post [section='content'] section.footer .information .license .list .item .link {
              display: block;
              font-size: 20px;
              color: var(--color-10-100);
              transition: all 0.2s; }
              body.post [section='content'] section.footer .information .license .list .item .link:hover {
                color: var(--color-00-100);
                transform: scale(1.2); }
        body.post [section='content'] section.footer .tags {
          display: flex;
          margin-top: 20px;
          padding-top: 20px;
          gap: 10px;
          width: calc(100% - 280px);
          border-top: dashed 1px var(--color-13-100); }
          body.post [section='content'] section.footer .tags .tag {
            padding: 2px 8px 3px;
            font-size: 12px;
            border-radius: var(--border-radius);
            background-color: var(--color-15-100);
            transition: all 0.2s; }
            body.post [section='content'] section.footer .tags .tag:hover {
              color: var(--color-point-01); }
      body.post [section='content'] section.comment {
        overflow: hidden;
        margin-top: 20px;
        padding: 0;
        background-color: transparent; }
        body.post [section='content'] section.comment .utterances {
          margin-top: -40px;
          max-width: 100%; }
        [data-color-scheme='light'] body.post [section='content'] section.comment .utterances:nth-child(1) {
          display: block; }
        [data-color-scheme='light'] body.post [section='content'] section.comment .utterances:nth-child(2) {
          display: none; }
        [data-color-scheme='dark'] body.post [section='content'] section.comment .utterances:nth-child(1) {
          display: none; }
        [data-color-scheme='dark'] body.post [section='content'] section.comment .utterances:nth-child(2) {
          display: block; }
  @media screen and (max-width: 940px) {
    @keyframes sidebar-open {
      0% {
        left: -220px; }
      100% {
        left: 0; } }
    @keyframes sidebar-close {
      0% {
        left: 0; }
      100% {
        left: -220px; } }
    body.post [section='main'] {
      display: block;
      padding: 0 10px;
      font-size: 12px; }
    body.post [section='sidebar'] {
      z-index: 2000;
      position: fixed;
      inset: 0;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s; }
      body.post [section='sidebar']:before {
        position: absolute;
        inset: 0 0 0 0;
        background-color: var(--color-15-080);
        backdrop-filter: blur(5px);
        content: ''; }
      body.post [section='sidebar'] .wrap {
        position: absolute;
        top: 0;
        left: -220px;
        width: 200px;
        height: calc(100% - 20px);
        border-radius: 0;
        animation: sidebar-close 0.2s ease-in normal forwards; }
      body.post [section='sidebar'].open {
        pointer-events: all;
        opacity: 1; }
        body.post [section='sidebar'].open .wrap {
          animation: sidebar-open 0.2s ease-in 0.2s normal forwards; }
    body.post [section='content'] section {
      padding: 10px; }
      body.post [section='content'] section.header .title {
        font-size: 30px; }
      body.post [section='content'] section.body h2 {
        margin: 50px 0 25px;
        font-size: 25px; }
        body.post [section='content'] section.body h2 .divider {
          inset: -40px -10px auto -10px;
          height: 30px; }
        body.post [section='content'] section.body h2:before {
          inset: -40px -10px auto -10px; }
        body.post [section='content'] section.body h2:after {
          left: -10px;
          right: -10px; }
      body.post [section='content'] section.body h3 {
        font-size: 25px; }
      body.post [section='content'] section.body h4 {
        font-size: 20px; }
      body.post [section='content'] section.body h5 {
        font-size: 15px; }
      body.post [section='content'] section.body figure.highlight .highlight-body {
        font-size: 12px;
        line-height: 14px; }
      body.post [section='content'] section.body figure.highlight.fullscreen .highlight-body {
        font-size: 16px;
        line-height: 18px; }
      body.post [section='content'] section.footer {
        margin-top: 10px; }
        body.post [section='content'] section.footer .background {
          display: none; }
        body.post [section='content'] section.footer .tags {
          width: 100%; } }
